<p>
  <b>BitBucket:</b>
  <%= @project.bitbucket %>
</p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Endpoint:</b>
  <%= @project.endpoint %>
</p>

<p>
  <b>Token:</b>
  <%= @project.token %>
</p>